/src/themes/*.scss
/package/*.css
/package/*.css.map
/vendor/autoload.php
/vendor/google
/vendor/bin
/vendor/composer
composer.lock
/.sass-cache
/.idea

/src/primary/thomas-blue.scss
/package/minified/material.color.theme.thomas-blue-*.css
